body {
	background-color: #000000;
	background-image: url(images/bricks.jpg);
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.titre {
	color: #ffd700;
	margin: 0000;
	padding: 0000;
	border: 0px;
	font-weight: bolder;
	text-align: center
}

.mail {
	color: #ff0000
}

.date {
	color: #808080;
	padding: 0000;
	margin: 0000;
	border: 0px;
}

p {
	color: #FFFFFF
}

a {
	color: #808000
}