 body { background-image:  url(images/discworl.jpg); font-family: "Times New Roman", helvetica, 

"sans serif"} .p1 { text-indent:"20"; text-align:"justify"; margin:"5"; } .p { 

text-align:"justify"; margin:"5"} 