.souris {
	color: #800080;
	padding: 0000;
	margin: 0000;
	border: 0px;
	font-size: x-small;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif
}