body { background-image: url(images/sky.jpg); font-family: "Times New Roman", helvetica, 

"sans serif"} .title {
	font-size: larger;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;

}
