.mail {
	margin: 0000;
	padding: 0000;
	font-size: x-small;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif
}