body {font-family: "Times New Roman", Times, serif; background-image:   url(images/bground09.gif); background-attachment: fixed} .mail { color:#ff0000} a {  color: #000000}

.nom {  font-size: x-large; font-weight: bold; color: #333366; text-align: center}

.vie {  text-align: center; font-weight: bold}

.liste {  font-weight: bold; text-decoration: underline}

